@if (command) {
  <div class="container">
    <p>
      Escolha no campo abaixo uma data entre
      <b> {{ periodo!.inicio | date : 'dd/MM/yyyy HH:mm (EEEE)' }}</b>
      até <b>{{ periodo!.fim | date : 'dd/MM/yyyy HH:mm (EEEE)' }}</b>.
    </p>
    @if (command.avancado) {
      <nz-date-picker [(ngModel)]="command.data" [nzShowTime]="{ nzFormat: 'HH:mm:ss' }"
      nzFormat="dd/MM/yyyy HH:mm:ss" name="data" [nzInputReadOnly]="true"></nz-date-picker>
      <a nz-button nzType="link" (click)="command.avancado = false">Ver modo simplificado</a>
    }
    @if (!command.avancado) {
      <div class="datas">
        <nz-select [(ngModel)]="command.dia" name="dia" nzPlaceHolder="Selecione o dia">
          @for (dia of command.dias; track dia) {
            <nz-option [nzValue]="dia"
              [nzLabel]="dia | date : 'dd/MM/yyyy (EEEE)'">
            </nz-option>
          }
        </nz-select>
        <nz-select [(ngModel)]="command.horario" name="horario" nzPlaceHolder="horário">
          @for (horario of command.horarios; track horario) {
            <nz-option [nzValue]="horario"
              [nzLabel]="horario | horario">
            </nz-option>
          }
        </nz-select>
      </div>
      <a nz-button nzType="link" (click)="command.avancado = true">Ver calendário</a>
    }
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="close()">Cancelar</button>
    <button nz-button nzType="primary" (click)="salvar()" [disabled]="busy || !command.data"
    [nzLoading]="busy">Salvar</button>
  </div>
}