<div class="header">
    <ng-container *ngIf="confronto.data">
        <i nz-icon nzType="calendar" nzTheme="outline"></i>
        <label>{{confronto.data|date:'dd/MM/yyyy HH:mm (EEEE)':'-3'}}</label>
    </ng-container>
    <nz-tag nzColor="{{confronto.status|corStatusConfronto}}">
        {{confronto.status|statusConfronto}}
    </nz-tag>
    <a nz-button nzType="default" nzSize="small" target="_blank"
        href="https://l4d2-playstats.azurewebsites.net/server/vanilla4mod/matches/{{confronto?.inicioEstatistica}}/{{confronto?.fimEstatistica}}/statistics"
        *ngIf="confronto?.status === StatusConfronto.Realizado && confronto?.inicioEstatistica && confronto?.fimEstatistica">
        <span nz-icon nzType="line-chart" nzTheme="outline"></span>
        Estatísticas
    </a>
    <a nz-button nzType="default" nzSize="small" (click)="addAgenda()"
        *ngIf="confronto?.status === StatusConfronto.Aguardando && confronto?.data">
        <span nz-icon nzType="calendar" nzTheme="outline"></span>
        Add a agenda
    </a>
</div>