@if (!capitaes) {
  <nz-skeleton [nzActive]="true"></nz-skeleton>
}

<div class="buttons">
  <button nz-button nzType="primary" (click)="sortearCapitaes()">
    <i nz-icon nzType="sync" nzTheme="outline"></i>
    Sortear capitães
  </button>
</div>

@if (capitaes) {
  <div class="capitaes">
    @for (capitao of capitaes; track capitao) {
      <app-jogador [jogador]="capitao" [podeExcluir]="false" [podeAtualizar]="false">
        <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Gerar senha de acesso"
          [disabled]="loading" (click)="gerarSenhaAcesso(capitao)">
          <i nz-icon nzType="unlock"></i>
        </button>
      </app-jogador>
    }
  </div>
}