@if (command) {
  <form nz-form (ngSubmit)="salvar()">
    <nz-form-label nzFor="inicio">Deve ocorrer entre</nz-form-label>
    <div class="periodo">
      <nz-date-picker [(ngModel)]="command.inicio" [nzShowTime]="{ nzFormat: 'HH:mm:ss' }"
      nzFormat="dd/MM/yyyy HH:mm:ss" name="inicio" [nzInputReadOnly]="true"></nz-date-picker>
      <nz-form-label nzFor="fim">Até</nz-form-label>
      <nz-date-picker [(ngModel)]="command.fim" [nzShowTime]="{ nzFormat: 'HH:mm:ss' }" nzFormat="dd/MM/yyyy HH:mm:ss"
      name="fim" [nzInputReadOnly]="true"></nz-date-picker>
    </div>
    <nz-form-label>Sugestões de datas</nz-form-label>
    <div class="sugestoes">
      @for (sugestao of command.sugestoes; track sugestao; let i = $index; let isFirst = $first) {
        <div class="sugestao">
          <nz-form-item>
            @if (isFirst) {
              <label>Data</label>
            }
            <nz-date-picker [(ngModel)]="sugestao.data" [nzShowTime]="{ nzFormat: 'HH:mm:ss' }"
              nzFormat="dd/MM/yyyy HH:mm:ss" name="data_{{i}}" [nzInputReadOnly]="true">
            </nz-date-picker>
          </nz-form-item>
          <nz-form-item>
            @if (isFirst) {
              <label>Cadastrado por</label>
            }
            <nz-select [(ngModel)]="sugestao.cadastradoPor" name="cadastradoPor_{{i}}" placeholder="Cadastrado por">
              @for (cadastradoPor of cadastradosPor; track cadastradoPor) {
                <nz-option [nzValue]="cadastradoPor"
                  [nzLabel]="cadastradoPor|cadastradoPor">
                </nz-option>
              }
            </nz-select>
          </nz-form-item>
          <nz-form-item>
            @if (isFirst) {
              <label>Resposta time A</label>
            }
            <nz-select [(ngModel)]="sugestao.respostaTimeA" name="respostaTimeA_{{i}}"
              placeholder="Resposta time A">
              @for (respostaTime of respostasTimes; track respostaTime) {
                <nz-option [nzValue]="respostaTime"
                  [nzLabel]="respostaTime|respostaTime">
                </nz-option>
              }
            </nz-select>
          </nz-form-item>
          <nz-form-item>
            @if (isFirst) {
              <label>Resposta time B</label>
            }
            <nz-select [(ngModel)]="sugestao.respostaTimeB" name="respostaTimeB_{{i}}"
              placeholder="Resposta time B">
              @for (respostaTime of respostasTimes; track respostaTime) {
                <nz-option [nzValue]="respostaTime"
                  [nzLabel]="respostaTime|respostaTime">
                </nz-option>
              }
            </nz-select>
          </nz-form-item>
          <i nz-icon nzType="delete" nzShape="circle" nz-tooltip nzTooltipTitle="Excluir sugestão"
          (click)="excluirSugestao(sugestao)"></i>
        </div>
      }
      <button nz-button nzType="primary" (click)="novaSugestao()" [disabled]="busy" [nzLoading]="busy" type="button">
        <i nz-icon nzType="plus"></i>
        Adicionar nova sugestão
      </button>
    </div>
  </form>
}

@if (!command) {
  <div style="text-align: center;">
    <nz-spin nzSimple nzTip="Carregando..."></nz-spin>
  </div>
}

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="close()">Cancelar</button>
  <button nz-button nzType="primary" (click)="salvar()" [disabled]="!command" [nzLoading]="busy">Salvar</button>
</div>