.card {
    display: grid;
    grid-template-rows: auto auto auto;
    width: 250px;
    padding: 5px;
    margin: 10px;
    border: 1px solid black;

    table {
        align-self: start;

        .delete {
            color: red;
            cursor: pointer;
            margin-left: 5px;
        }

        .slim {
            white-space: nowrap;
            width: 1px;
        }
    }

    tr {
        font-size: 12px;
    }

    th {
        white-space: nowrap;
        width: 70px;
        text-align: left;
    }

    nz-divider {
        margin: 7px 0;
    }

    .botoes {
        display: flex;
        justify-content: space-evenly;
    }
}

.text-right {
    text-align: right;
}
