<div class="card">
    <table>
        <tr>
            <th>Nome:</th>
            <td>{{time.nome}}</td>
        </tr>
        <tr>
            <th>Jogadores:</th>
            <td>{{time.jogadores?.length || 0}} / 4</td>
        </tr>
    </table>
    <nz-divider></nz-divider>
    <table>
        <tr *ngFor="let jogador of time.jogadores" nz-popover nzPopoverTitle="Dados do jogador"
            [nzPopoverContent]="contentTemplate" nzPopoverPlacement="rightTop">
            <td>{{jogador.nome}}</td>
            <td class="text-right slim">
                <small *ngIf="jogador.totalHoras">{{jogador.totalHoras|number}} horas</small>
            </td>
            <td class="slim" *ngIf="!readonly">
                <i class="delete" nz-icon nzType="close" nzTheme="outline" nz-tooltip
                    nzTooltipTitle="Remover jogador do time" (click)="removerJogador(jogador)"></i>
            </td>
            <ng-template #contentTemplate>
                <app-jogador [jogador]="jogador" [podeExcluir]="false" [podeAtualizar]="false"></app-jogador>
            </ng-template>
        </tr>
    </table>
    <nz-divider *ngIf="!readonly"></nz-divider>
    <div class="botoes" *ngIf="!readonly">
        <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Adicionar jogador"
            [disabled]="loading" (click)="adicionarJogador()">
            <i nz-icon nzType="user-add"></i>
        </button>

        <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Editar" [disabled]="loading"
            (click)="editar()">
            <i nz-icon nzType="edit"></i>
        </button>

        <button nz-button nzType="default" nzDanger nzShape="circle" nz-tooltip nzTooltipTitle="Excluir"
            [disabled]="loading" (click)="excluir()">
            <i nz-icon nzType="delete"></i>
        </button>
    </div>
</div>