:host,
.container {
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.container {
    background-color: white;
    border-radius: 5px;
}

.time,
.playoff {
    * {
        margin: 0;
        padding: 0;
    }
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 5px 15px 5px;

    p {
        font-style: italic;
    }
}

.playoff {
    cursor: pointer;
    display: grid;
    grid-template-columns: 3fr 30px 50px;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-items: center;
    padding: 0px 5px 5px 5px;

    nz-divider {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    i {
        font-size: 25px;
    }
}

.derrota {
    text-decoration: line-through;
}
