<section>
    <ng-container *ngFor="let time of [confronto.timeA, confronto.timeB]">
        <p class="time">{{time.nome}}:</p>
        <nz-progress [nzPercent]="progresso(time)" [nzFormat]="formatar" nzSize="small" [nzStatus]="status(time)">
        </nz-progress>
        <p class="pontos">
            {{pontosConquistados(time)}}
            <span class="penalidade" *ngIf="penalidade(time)"> - {{penalidade(time)}}</span>
            /<span class="bold">{{confronto.campanha?.pontuacaoMaxima || 0}}</span>
        </p>
    </ng-container>
</section>
<p *ngIf="confronto.observacoes" class="observacoes text-justify">
    <span class="bold">Observações:</span> {{confronto.observacoes}}
</p>