.container {
    display: grid;
    grid-template-columns: 150px 1fr;
    padding: 10px;

    @media (max-width: 600px) {
        display: flex;
        flex-flow: column;
    }

    app-playoff-corpo {
        margin-left: 10px;
    }
}

.header {
    .acoes {
        display: flex;
        justify-content: flex-end;

        button {
            margin-left: 10px;
        }
    }

    nz-divider {
        margin: 10px;
    }
}
