<div *ngIf="podeEditar" class="acoes">
    <button nz-button nzType="primary" (click)="editar(playoff.id!)">
        <i nz-icon nzType="edit"></i>
        Editar
    </button>
</div>

<app-playoff-times [playoff]="playoff">
</app-playoff-times>

<div class="container" *ngFor="let confronto of playoff.confrontos">
    <app-playoff-campanha [campanha]="confronto.campanha">
    </app-playoff-campanha>
    <app-playoff-corpo [playoff]="playoff" [confronto]="confronto">
    </app-playoff-corpo>
</div>