@if (loading) {
  <nz-skeleton [nzActive]="true"></nz-skeleton>
}

@if (!loading) {
  <div class="container">
    <div>
      <label>Equipe:</label>
      <nz-select [(ngModel)]="equipeAtual" (ngModelChange)="chart($event)" name="equipeAtual" placeholder="Equipe">
        @for (equipe of equipes; track equipe) {
          <nz-option [nzValue]="equipe" nzLabel="{{equipe.time.nome}}">
          </nz-option>
        }
      </nz-select>
    </div>
    <div class="charts">
      <div>
        @if (charts?.mvpSiDamage) {
          <canvas baseChart [data]="$safeNavigationMigration(charts?.mvpSiDamage.data)" [options]="$safeNavigationMigration(charts?.mvpSiDamage.options)" type="line"
            >
          </canvas>
        }
      </div>
      <div>
        @if (charts?.mvpCommon) {
          <canvas baseChart [data]="$safeNavigationMigration(charts?.mvpCommon.data)" [options]="$safeNavigationMigration(charts?.mvpCommon.options)" type="line"
            >
          </canvas>
        }
      </div>
    </div>
    <p>
      * O jogador que ficar em primeiro lugar como MVP recebe 8pts,
      em segundo 4pts, em terceiro 2pts e em quarto recebe 1pt
    </p>
  </div>
}