.container {
    width: 100%;
    overflow-x: auto;
    scroll-behavior: auto;
    display: flex;
    justify-content: center;
}

.ngtt-se__container {
    background-color: black;
    display: inline-block;
    box-sizing: border-box;
}

.ngtt-se__bracket-wrapper {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.ngtt-se__round-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 400px;
    box-sizing: border-box;
}

.ngtt-se__match-wrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
    height: 130px;
    width: 400px;
    padding: 15px 25px;
    position: relative;
    box-sizing: border-box;

    &::after {
        display: flex;
        flex-grow: 1;
        right: 0;
        position: absolute;
        width: 25px;
        height: 50%;
        border-right: 2px solid goldenrod;
        content: '';
        box-sizing: border-box;
    }

    &::before {
        display: flex;
        flex-grow: 1;
        left: 0;
        top: 50%;
        position: absolute;
        width: 25px;
        border-top: 2px solid goldenrod;
        content: '';
        box-sizing: border-box;
    }

    &:nth-child(odd)::after {
        top: 50%;
        border-top: 2px solid goldenrod;
    }

    &:nth-child(even)::after {
        top: 0;
        border-bottom: 2px solid goldenrod;
    }

    &:first-child:last-child::after {
        display: none;
    }
}

.ngtt-se__round-wrapper:first-child > .ngtt-se__match-wrapper::before {
    display: none;
}

.ngtt-se__match-component-container {
    display: flex;
    height: 100px;
    width: 350px;
    background-color: transparent;
    box-sizing: border-box;
}

.ngtt-se__finale-match-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    height: 130px;
    width: 400px;
    padding: 15px 25px;
    position: relative;
    box-sizing: border-box;

    &::before {
        display: flex;
        flex-grow: 1;
        left: 0;
        top: 50%;
        position: absolute;
        width: 25px;
        border-top: 2px solid goldenrod;
        content: '';
    }
}

.ngtt-se__finale-component-container {
    display: block;
    height: 100px;
    width: 350px;
    background-color: transparent;
    margin-bottom: 0;
    padding-right: 25px;
}

@media screen and (max-width: 1220px) {
    .ngtt-se__container {
        width: 100%;
    }
}
