<nz-skeleton [nzActive]="true" *ngIf="loading"></nz-skeleton>

<div class="container" *ngIf="!loading">
    <div>
        <label>Estatística:</label>
        <nz-select [(ngModel)]="estatisticaAtual" name="estatisticaAtual" placeholder="Estatísticas">
            <nz-option *ngFor="let estatisticaJogador of EstatisticasJogadores" [nzValue]="estatisticaJogador"
                nzLabel="{{estatisticaJogador|estatisticaJogador}}">
            </nz-option>
        </nz-select>
    </div>

    <div *ngIf="jogadores">
        <label>Top 5:</label>
        <div class="jogadores">
            <app-estatistica-jogador *ngFor="let jogador of top5" [jogador]="jogador"></app-estatistica-jogador>
        </div>

        <div class="todos-jogadores">
            <a nz-button nzType="link" *ngIf="!exibirTodos" (click)="exibirTodos = true">
                Exibir todos
            </a>

            <nz-table #jogadoresTable [nzData]="jogadores" [nzFrontPagination]="false" nzSize="small"
                *ngIf="exibirTodos">
                <thead>
                    <tr>
                        <th class="slim">Posição</th>
                        <th style="min-width: 300px;">Jogador</th>
                        <th class="slim text-center">{{estatisticaAtual|estatisticaJogador}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let jogador of jogadoresTable.data">
                        <td class="slim text-center">#{{jogador.posicao}}</td>
                        <td>{{jogador.nome}}</td>
                        <td class="slim text-center">{{jogador.quantidade|number}}</td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>