<section>
  @for (time of [playoff.timeA, playoff.timeB]; track time) {
    <p class="time">{{time.nome}}:</p>
    <nz-progress [nzPercent]="progresso(time)" [nzFormat]="formatar" nzSize="small" [nzStatus]="status(time)">
    </nz-progress>
    <p class="pontos">
      @if (pontuacaoMaxima()) {
        {{pontosConquistados(time)|number}}
        @if (penalidade(time)) {
          <span class="penalidade"> - {{penalidade(time)|number}}</span>
        }
        / <span class="bold">{{pontuacaoMaxima()|number}}</span>
      } @else {
        Pontuação ainda não disponível
      }
    </p>
  }
</section>
@if (confronto.observacoes) {
  <p class="observacoes text-justify">
    <span class="bold">Observações:</span> {{confronto.observacoes}}
  </p>
}
