.jogadores,
.times {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tabela-resultados {
    width: 100%;
}

h2 {
    margin-bottom: 5px;
}

a {
    display: block;
    text-align: center;
    font-size: 30px;
}

nz-divider {
    margin: 5px 10px;
}

section {
    padding: 15px;
    margin-bottom: 25px;
    overflow-x: auto;
}

app-confronto {
    display: block;
    margin: 15px 10px;
    padding: 10px;
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #b3b3b3;
}