a {
    font-weight: bold;
}

section {
    margin-bottom: 35px;
    p {
        text-align: justify;
    }
}

.tabela-resultados {
    overflow-x: auto;
    width: 100%;
}

app-confronto {
    display: block;
    margin: 15px 5px;
    padding: 10px;
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #b3b3b3;
}

.jogadores,
.times {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (min-width: 1320px) {
    .confrontos {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
