<h2>3° Torneio de Left 4 Dead 2</h2>

<section>
    <h3>Objetivo</h3>
    <p>
        Realizar uma disputa saudável no jogo em que a maioria dos participantes se conheceu.
        Não temos premiação, essa é uma competição leve para reforçar os laços de amizade,
        elevar o nível de habilidade de todos ao realizar um rodízio nos times,
        divulgar e manter o jogo vivo e prestigiar os participantes na internet
        (Grupos do Facebook, Comunidade da Steam e Comunidade Nit).
        Dependendo de como ocorrer esse torneio, realizaremos outros no futuro,
        com mais jogadores, maior alcance de divulgação e premiações.
    </p>
    <p>
        O Campeonato será dividido em duas fases, uma primeira fase de pontos corridos onde todos os times se enfrentam.
        Os seis primeiros times da tabela serão classificados para a fase de playoff (mata-mata)
    </p>
    <p>
        Regras do torneio
        <a href="https://github.com/altair-sossai/torneio-l4d2-regras" target="_blank">
            Aqui
        </a>
    </p>
    <p>
        Os jogos são transmitidos pela
        <a href="https://www.twitch.tv/torneiol4d2" target="_blank">
            Twitch
        </a>
    </p>
</section>

<!--
<section>
    <h3>Resultado do torneio!</h3>
    <p>
        Gostaríamos de agradecer a participação de todos os jogadores no torneio, foram ótimos jogos e temos a certeza
        que cumprimos nosso objetivo, realizar um campeonato sadio, divertido e principalmente inclusivo para todos os
        jogadores.
    </p>
    <p>
        Abaixo é possível visualizar o resultado final do campeonato.
    </p>
    <hr />

    <div class="resultado">
        <img src="../../../../../assets/imgs/campeao.png" />
    </div>

    <div class="resultado">
        <img src="../../../../../assets/imgs/vice.png" />
    </div>

    <div class="resultado">
        <img src="../../../../../assets/imgs/terceiro_lugar_01.png" />
        <img src="../../../../../assets/imgs/terceiro_lugar_02.png" />
    </div>

</section>
-->

<section *ngIf="false && playoff">
    <h3>Fase 2 - Play-off</h3>
    <p>
        Abaixo é possível acompanhar os jogos realizados na fase de play-off, clique no jogo para ver mais detalhes.
    </p>
    <hr />
    <div *ngIf="playoff && classificacao">
        <app-playoff-matchs [rodadas]="playoff" [classificacao]="classificacao"></app-playoff-matchs>
    </div>
    <nz-skeleton [nzActive]="true" *ngIf="!playoff || !classificacao"></nz-skeleton>
</section>

<section id="primeira-fase-classificacao">
    <h3>Fase 1 - Classificação por pontos corridos</h3>
    <p>
        Abaixo é possível acompanhar a tabela geral de pontos, o total de vitorias / derrotas e pontos conquistados por
        equipe.
    </p>
    <hr />
    <div class="tabela-resultados" *ngIf="classificacao">
        <app-tabela-resultados [classificacao]="classificacao"></app-tabela-resultados>
    </div>
    <nz-skeleton [nzActive]="true" *ngIf="!classificacao"></nz-skeleton>
</section>

<section *ngIf="confrontosAgendados && confrontosAgendados.length" id="primeira-fase-proximos-jogos">
    <h3>Próximos jogos agendados</h3>
    <p>
        Abaixo é possível conferir os próximos jogos do torneio.
    </p>
    <hr />
    <div class="confrontos">
        <app-confronto *ngFor="let confronto of confrontosAgendados" [confronto]="confronto" [podeEditar]="false">
        </app-confronto>
    </div>
</section>

<section id="primeira-fase-confrontos">
    <h3>Fase 1 - Todos os confrontos</h3>
    <p>
        Abaixo é possível acompanhar o resultado de todos os confrontos.
    </p>
    <hr />
    <nz-tabset *ngIf="rodadas" [nzSelectedIndex]="rodadaAtual">
        <nz-tab *ngFor="let rodada of rodadas" nzTitle="{{ tituloRodada(rodada) }}">
            <div class="confrontos">
                <app-confronto *ngFor="let confronto of rodada.confrontos" [confronto]="confronto" [podeEditar]="false">
                </app-confronto>
            </div>
        </nz-tab>
    </nz-tabset>
    <nz-skeleton [nzActive]="true" *ngIf="!rodadas"></nz-skeleton>
</section>

<section id="equipes">
    <h3>Equipes</h3>
    <p>
        Abaixo é possível visualizar todos os times participantes e seus respectivos jogadores.
    </p>
    <hr />
    <div class="times" *ngIf="times">
        <ng-container *ngFor="let time of times">
            <app-time [time]="time" [readonly]="true"></app-time>
        </ng-container>
    </div>
    <nz-skeleton [nzActive]="true" *ngIf="!times"></nz-skeleton>
</section>

<section id="participantes">
    <h3>Participantes</h3>
    <p>
        Abaixo é possível visualizar todos os participantes do torneio.
    </p>
    <hr />
    <div class="jogadores" *ngIf="jogadores">
        <ng-container *ngFor="let jogador of jogadores">
            <app-jogador [jogador]="jogador" [podeExcluir]="false" [podeAtualizar]="false"></app-jogador>
        </ng-container>
    </div>
    <nz-skeleton [nzActive]="true" *ngIf="!jogadores"></nz-skeleton>
</section>