<div style="text-align: center;">
    <h4>Acesso ao sistema</h4>
    <p>Informe seu usuário e senha para prosseguir</p>
</div>
<form nz-form (ngSubmit)="login()" *ngIf="command">
    <nz-form-item>
        <nz-form-control [nzValidateStatus]="errors?.steamId ? 'error' : ''"
            [nzErrorTip]="errors?.steamId && errors?.steamId[0]">
            <nz-input-group nzPrefixIcon="user">
                <input type="steamId" nz-input name="steamId" [(ngModel)]="command.steamId" placeholder="Steam ID"
                    appAutoFocus />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control [nzValidateStatus]="errors?.senha ? 'error' : ''"
            [nzErrorTip]="errors?.senha && errors?.senha[0]">
            <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input name="senha" [(ngModel)]="command.senha" placeholder="Senha" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <button nz-button nzSize="large" nzType="primary" [disabled]="!command" [nzLoading]="busy">Acessar</button>
</form>

<div *ngIf="!command" style="text-align: center;">
    <nz-spin nzSimple nzTip="Carregando..."></nz-spin>
</div>