<!-- <app-playoff-matchs></app-playoff-matchs> -->

<div *ngIf="!busy && podeEditar" class="acoes">
    <button nz-button nzType="primary" (click)="novo()" [nzLoading]="busy">
        <i nz-icon nzType="user-add"></i>
        Adicionar um novo jogo
    </button>
</div>

<nz-tabset *ngIf="!busy" [nzSelectedIndex]="rodadaAtual" (nzSelectedIndexChange)="rodadaAtual = $event">
    <nz-tab *ngFor="let rodada of rodadas" nzTitle="{{ rodada.rodada + 'ª Rodada' }}">

        <nz-tabset nzTabPosition="left">
            <nz-tab *ngFor="let playoff of rodada.playoffs"
                nzTitle="{{ (playoff.timeA?.capitao?.nome || '(A definir)') + ' vs ' + (playoff.timeB?.capitao?.nome || '(A definir)') }}">
                <app-playoff [playoff]="playoff" [podeEditar]="podeEditar" (atualizado)="pesquisar()"></app-playoff>
            </nz-tab>
        </nz-tabset>

    </nz-tab>
</nz-tabset>

<nz-skeleton [nzActive]="true" *ngIf="busy"></nz-skeleton>