<!-- <app-playoff-matchs></app-playoff-matchs> -->

@if (!busy && podeEditar) {
  <div class="acoes">
    <button nz-button nzType="primary" (click)="novo()" [nzLoading]="busy">
      <i nz-icon nzType="user-add"></i>
      Adicionar um novo jogo
    </button>
  </div>
}

@if (!busy) {
  <nz-tabs [nzSelectedIndex]="rodadaAtual" (nzSelectedIndexChange)="rodadaAtual = $event">
    @for (rodada of rodadas; track rodada) {
      <nz-tab nzTitle="{{ rodada.rodada + 'ª Rodada' }}">
        <nz-tabs nzTabPosition="left">
          @for (playoff of rodada.playoffs || []; track playoff) {
            <nz-tab
              nzTitle="{{ (playoff.timeA?.nome || '(A definir)') + ' vs ' + (playoff.timeB?.nome || '(A definir)') }}">
              <app-playoff [playoff]="playoff" [podeEditar]="podeEditar" (atualizado)="pesquisar()"></app-playoff>
            </nz-tab>
          }
        </nz-tabs>
      </nz-tab>
    }
  </nz-tabs>
}

@if (busy) {
  <nz-skeleton [nzActive]="true"></nz-skeleton>
}
