<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/" target="_blank">
        <img src="../../../assets/icons/l4d2-logo.png" alt="logo">
        <h1>Torneio L4D2</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Cadastros" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/cadastros/jogadores">Jogadores</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/cadastros/capitaes">Capitães</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/cadastros/times">Times</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/cadastros/confrontos">Confrontos</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/cadastros/playoffs">Playoffs</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Meus dados" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouterExact>
            <a routerLink="/auth" (click)="sair()">Sair</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content" style="overflow-y: auto;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>