<div class="header">
  @if (confronto.data) {
    <i nz-icon nzType="calendar" nzTheme="outline"></i>
    <label>{{confronto.data|date:'dd/MM/yyyy HH:mm (EEEE)':'-3'}}</label>
  }
  <nz-tag nzColor="{{confronto.status|corStatusConfronto}}">
    {{confronto.status|statusConfronto}}
  </nz-tag>
  @if (podeEditar && confronto.status === StatusConfronto.Aguardando) {
    <button nz-button nzType="default" nzSize="small" (click)="periodo()"
      >
      <i nz-icon nzType="calendar"></i>
      Período
    </button>
  }
  @if (confronto.status === StatusConfronto.Realizado && confronto.inicioEstatistica && confronto.fimEstatistica) {
    <a nz-button nzType="default" nzSize="small" target="_blank"
      href="https://l4d2.com.br/last-matches/details/{{confronto.inicioEstatistica}}/{{confronto.fimEstatistica}}"
      >
      <span nz-icon nzType="line-chart" nzTheme="outline"></span>
      Estatísticas
    </a>
  }
  @if (confronto.status === StatusConfronto.Aguardando && confronto.data) {
    <a nz-button nzType="default" nzSize="small" (click)="addAgenda()"
      >
      <span nz-icon nzType="calendar" nzTheme="outline"></span>
      Add a agenda
    </a>
  }
  @if (podeEditar) {
    <button nz-button nzType="default" nzSize="small" (click)="editar()">
      <i nz-icon nzType="edit"></i>
      Editar
    </button>
  }
</div>
