<div class="header">
    <ng-container *ngIf="confronto.data">
        <i nz-icon nzType="calendar" nzTheme="outline"></i>
        <label>{{confronto.data|date:'dd/MM/yyyy HH:mm':'utc'}}</label>
    </ng-container>
    <nz-tag nzColor="{{confronto.status|corStatusConfronto}}">
        {{confronto.status|statusConfronto}}
    </nz-tag>
    <button nz-button nzType="default" nzSize="small" (click)="editar()" *ngIf="podeEditar">
        <i nz-icon nzType="edit"></i>
        Editar
    </button>
</div>